//slick react
.home-hand-book {
  background-color: #fff;
  .home-page-content {
    padding: 0;
    margin: 30px 50px 50px;
  }
  .home-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 34px;
  }
  button:first-child {
    left: 0 !important;
    background-color: #dfe2e25e;
    height: 27px !important;
    opacity: 1;
    // right: 0 !important;
    z-index: 10 !important;
  }
  button:last-child {
    background-color: #dfe2e25e;
    height: 27px !important;
    opacity: 1;
    // left: 0 !important;
    right: 0 !important;
    z-index: 10 !important;
  }
  .home-lists {
    display: block;
    justify-content: space-around;
    align-content: center;
    .image-items {
      display: flex !important;
      justify-content: center;
      cursor: pointer;
      // align-items: center;
      // flex-direction: column;
      .image-item {
        // margin: 0 5px;
        background: url(../../../assets/images/science1.jfif) top center/cover
          no-repeat;
        // background-repeat: no-repeat;
        // background-position: center;
        padding-top: 25%;
        background-size: cover;
        // object-fit: contain;
        width: 50%;
        margin-left: 8px;
      }
      span {
        font-size: 17px;
        // text-align: center;
        margin: 0 12px;
        width: 50%;
      }
    }
  }
}
