//slick react
.home-popular-doctor {
  background-color: #d4d4d447;
  .home-page-content {
    margin: 30px 50px 50px;
  }
  .home-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 34px;
  }
  // button:first-child {
  //   left: 0 !important;
  //   // right: 0 !important;
  //   z-index: 10 !important;
  // }
  // button:last-child {
  //   // left: 0 !important;
  //   right: 0 !important;
  //   z-index: 10 !important;
  // }
  .home-lists {
    display: flex;
    justify-content: space-around;
    align-content: center;
    .image-items {
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .image-item {
        // margin: 0 5px;
        background: url(../../../assets/images/doctor3.webp) center/cover
          no-repeat;
        // padding-top: 50%;
        background-size: cover;
        background-position: center;
        height: 160px;
        width: 160px;
        border-radius: 50%;
      }
      div {
        text-align: center;
        margin: 4px 18px;
      }
      p {
        margin: 0 5px;
        color: #7b7a7a;
        text-align: center;
      }
    }
  }
}
