//slick react
.home-popular-facility {
  background-color: #fff;
  .home-page-content {
    padding: 0;
    margin: 30px 50px 50px;
  }
  .home-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 34px;
  }
  button:first-child {
    // left: 0 !important;
    background-color: #d4d4d447;
    // height: 27px !important;
    // opacity: 0.6;
    // right: 0 !important;
    z-index: 10 !important;
    padding-top: 1px;
  }
  button:last-child {
    background-color: #d4d4d447;
    // height: 27px !important;
    // opacity: 0.6;
    // left: 0 !important;
    // right: 0 !important;
    z-index: 10 !important;
    padding-top: 1px;
  }
  .home-lists {
    display: block;
    justify-content: center;
    align-content: center;
    .image-items {
      align-self: center;
      cursor: pointer;
      .image-item {
        margin: 0 5px;
        // background: url(../../../assets/images/hospital.jpg) top center/cover
        //   no-repeat;
        padding-top: 50%;
        background-size: cover;
        height: 180px;
        border-radius: 5px;
      }
      p {
        margin: 0 5px;
        color: #646363;
      }
    }
  }
}
