.home-header-container {
  border: 1px solid red;
  .home-header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 60px;
    margin: 0 50px;
    .header-left {
      width: 25%;
      display: flex;
      justify-content: left;
      align-items: center;
      i {
        margin-right: 8px;
        font-size: 20px;
        cursor: pointer;
        opacity: 0.6;
      }
      a {
        .header-image {
          background: url("../../../assets/images/bookingcare-2020.svg") top
            center / cover no-repeat;
          padding-top: 22%;
          // margin-top: -4%;
          background-size: inherit;
          width: 185px;
        }
      }
    }
    .header-center {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-content: center;
      .header-item {
        align-self: center;
        cursor: pointer;
        align-items: center;
        // margin-right: 20px;
        div {
          font-size: 15px;
          font-weight: 500;
        }
        p {
          margin: 0;
          font-size: 12px;
        }
      }
    }
    .header-right {
      width: 25%;
      display: flex;
      justify-content: right;
      align-content: center;
      .header-tranlate {
        align-self: center;
        cursor: pointer;
        span {
          margin: 0 5px;
        }
        span:first-child {
          color: #eb6648;
          opacity: 0.6;
        }
        span:first-child.active {
          opacity: 1;
        }
        span:last-child {
          opacity: 0.6;
          color: rgb(23, 19, 220);
        }
        span:last-child.active {
          opacity: 1;
        }
      }
      .header-icon-help {
        color: #3838;
        align-self: center;
        font-size: 20px;
        margin: 0 4px 0 22px;
      }
      a {
        align-self: center;
        text-decoration: none;
        color: #333;
      }
    }
  }
}
