.list-specialty {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 40px auto;
    width: 1000px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    // text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button {
    color: #fff;
    background-color: #ffc107;
    border: none;
    border-radius: 10px;
    padding: 2px 12px;
    cursor: pointer;
  }
  .btn-delete {
    color: #fff;
    background-color: #fa6d6d;
    border: none;
    border-radius: 10px;
    padding: 2px 12px;
    margin-left: 6px;
  }
}