.container {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #16d7d7 !important;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .btn-manage {
    span:first-child {
      color: #162cd7;
    }
    span:last-child {
      color: #e76c38;
      margin-left: 14px;
    }
  }
}

// modal create user (ModalUser.js)
.modal-create-user {
  .modal-content {
    .modal-row {
      margin: 10px 0 18px;
      .modal-col {
        display: flex;
        justify-content: space-evenly;
        .modal-item-6 {
          width: 48%;
          label {
            width: 100%;
            margin-top: 6px;
          }
          input {
            width: 100%;
          }
        }
        .modal-item-12 {
          width: 98%;
          label {
            width: 100%;
            margin-top: 6px;
          }
          input {
            width: 100%;
          }
        }
      }
    }
  }

  .modal-btn {
    padding: 0 12px;
    border: none;
  }
}
